header{
	padding: 5px 5px 5px 5px;
	border: 1px solid #999;
	margin: 5px 5px 5px 5px;
}

table {
	font-family: arial;
	padding: 10px;
	width: 800px;
}

h1 {
	text-transform: uppercase;
}


th, td{
	padding: 7px 10px 10px 10px;
	text-align: center;
}

th{
	border-top:1px solid #999;
	border-bottom: 2px solid #111111;
}

td{
	border-bottom: 1px solid #999;
	padding: 15px
}

#real_content{
	margin: 5px 5px 5px 5px;
	margin-top: 30px;
	border:1px solid #999;
	padding-bottom: 20px;
	bottom: 20px;
}

fieldset{
	width: 600px;
	padding: 7px 10px 10px 10px;
}
